@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #fb9700 url(../img/flowers-5596553_1920.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20%;
    gap: 1rem;

    button{
        cursor: pointer;
        border: none;
        width: 150px;
        padding: .5rem 1rem;
        border-radius: 1rem;
    }
    
}

.timer-container{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: .75rem;    
}

.timer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ff6a00;
    padding: 1rem;
    border-radius: 1rem;

    span{
        font-size: 3rem;
    }

    p{
        margin-top: -1rem;
        font-size: .75rem;
        opacity: 0.8;
    }
}



    


