$background-color: #ffc8d6;
$blue-color: #147177;
$orange-color: #ff8b00;
$beige-color: #d68449;
$white-color: #f5f5f5;
$pink-color: #ff1768;
$background-fade-color: #b088a7a3;
// $modal-border-color: #c97234;

// Verde claro: #c7ea46
// Amarelo: #f5d063
// Laranja: #ff8c42
// Azul claro: #9cd1f7
// Rosa claro: #ffc8d6