// Modal

#fade{
    @include config(
        0,
        0,
        100%,
        100%,
        5,
        $background-fade-color
    )
}

#modal{
    @include config(
        50%,
        50%,
        300px,
        350px,
        10,
        $background-color
    );
    transform: translate(-50%, -50%);
    max-width: 80%;
    border-radius: .5rem;
    color: $pink-color;

    filter: drop-shadow(1px 1px 9px black);

        img{
            width: 100px;
            display: block;
             margin: 0 auto;
        }
       

        form{
            display: flex;
            flex-direction: column;
            margin: .5rem;
            padding: 1rem .5rem;
            gap: 1rem;

                input[type="text"]{
                    outline: 0;
                    border: 1px solid transparent;
                    width: 100%;
                    padding: 0.5rem 0.25rem;
                    margin-top: 0.25rem;

                    &.error{
                        border: 1px solid $red-color;
                    }
                }

            div{
                border-bottom: none;
            }
        }

        input[type="submit"]{
            @include button(transparent, $pink-color);
            font-weight: 600;
            font-size: 0.75rem;
            margin-top: 1rem;
        }
}

.border{
    border-bottom: solid 1px $white-color;
}

#fade, #modal{
    transition: .5s;
    opacity: 1;
    pointer-events: all;
}

#fade.hide, #modal.hide{
    opacity: 0;
    pointer-events: none;
}

#modal.hide{
    top: 0;
}

#email-error{
    font-size: small;
    color: $red-color
}

// SUCCESS MODAL

.modal-content{
    @include flex-column-center();
    text-align: center;
    gap: 1rem;
    padding: 1.25rem;
    border-bottom: none;

    img{
        align-self: center;
        width: 100px;
    }
}


    


