*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: $background-color url(../img/flowers-all-bckg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Lora', serif;
}

main{
    @include position;
}


.container{
    @include flex-column-center();
    text-align: center;
    gap: 1.5rem;
    width: 80vw;

    h1{
        font-size: 1.5rem;
        text-transform: uppercase;
        color: $blue-color;
    }

    p{
        color: $beige-color;
    }

    button{
        @include button($beige-color, $white-color);
        width: 150px;
        padding: .5rem 1rem;
        border-radius: 1rem;
        text-transform: uppercase;
        font-size: .65rem;
        font-weight: 800;
    }
    
}

.timer-container{
    display: flex;
    gap: .5rem; 
    color: $orange-color;
}

.timer{
    @include flex-column-center();
    border-radius: 1rem;

    &.days-timer{
        margin-right: 1rem;
    }

    span{
        font-size: 3rem;
        width: 60px;
    }

    p{
        margin-top: -.5rem;
        font-size: .5rem;
        opacity: 0.8;
        color: $orange-color;
    }
}

// RESPONSIVIDADE



@media (min-width: 540px){
    .container{
        h1{
            font-size: 1.75rem;
        }

        p{
            font-size: 1.125rem;
        }

        button{
            font-size: 0.675rem;
        }
    }

    .timer{
        span{
            font-size: 3.25rem;
        }

        p{
            font-size: 0.55rem;
        }
    }
}

@media (min-width: 1000px){
    .container{
        gap: 1.75rem;
        width: 75vw;

        h1{
            font-size: 2rem;
        }

        p{
            font-size: 1.25rem;
        }

        button{
            font-size: 0.675rem;
        }
    }

    .timer{
        span{
            font-size: 3.5rem;
        }

        &.days-timer{
            margin-right: 1.25rem;
        }

        p{
            font-size: 0.55rem;
        }
    }

    .timer-container{
        gap: 1rem;
    }
}

@media (min-width: 1200px){
    .container{
        gap: 2.25rem;

        h1{
            font-size: 2.5rem;
        }

        p{
            font-size: 1.5rem;
        }

        button{
            font-size: 0.75rem;
            width: 200px;
        }
    }

    .timer{
        span{
            font-size: 4.5rem;
        }

        &.days-timer{
            margin-right: 2rem;

            p{
                margin-left: 2rem;
            }
        }

        p{
            font-size: 0.75rem;
        }
    }

    .timer-container{
        gap: 2rem;
    }
};