/* Error: expected "{".
 *    ,
 * 13 | // Rosa claro: #ffc8d6
 *    |                       ^
 *    '
 *   assets\sass\variaveis\colors.scss 13:23  @import
 *   assets\sass\style.scss 4:9               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 13 \2502  // Rosa claro: #ffc8d6\a    \2502                        ^\a    \2575 \a   assets\\sass\\variaveis\\colors.scss 13:23  @import\a   assets\\sass\\style.scss 4:9               root stylesheet';
}
