@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* a {
  text-decoration: none;
}

body {
  background-color: #ffc8d6;
  font-family: "Lora", serif;
}

.container {
  margin: 0 auto;
  padding: 1rem;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
}
.header-container img {
  width: 80px;
}
.header-container div {
  display: flex;
  gap: 0.75rem;
}
.header-container div a {
  font-size: 0.5rem;
  color: #ff1768;
}
.header-container div a:hover {
  text-decoration: underline;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.75rem;
}
.main-section img {
  display: block;
  width: 280px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
}
.text-container h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #147177;
}
.text-container p {
  color: #d68449;
}
.text-container button {
  cursor: pointer;
  border: none;
  background-color: #d68449;
  color: #f5f5f5;
  width: 150px;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  text-transform: uppercase;
  font-size: 0.65rem;
  font-weight: 800;
}
.text-container button:hover {
  scale: 1.1;
  opacity: 0.8;
}

.timer-container {
  display: flex;
  gap: 0.5rem;
  margin: 1rem 0 1.5rem;
  color: #ff8b00;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}
.timer.days-timer {
  margin-right: 1rem;
}
.timer span {
  font-size: 3rem;
  width: 60px;
}
.timer p {
  margin-top: -0.5rem;
  font-size: 0.5rem;
  opacity: 0.8;
  color: #ff8b00;
}

footer {
  width: 100%;
  margin: 1rem 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p {
  margin-right: 0.5rem;
  font-size: 0.75rem;
  color: #ff1768;
}
footer img {
  display: block;
  width: 20px;
}

@media (min-width: 350px) {
  .header-container div a {
    font-size: 0.75rem;
  }
}
@media (min-width: 400px) {
  .main-section img {
    width: 300px;
  }
  .header-container img {
    width: 100px;
  }
  .header-container div a {
    font-size: 0.825rem;
  }
  .text-container h1 {
    font-size: 1.75rem;
  }
  .text-container p {
    font-size: 1.125rem;
  }
  .timer.days-timer {
    margin-right: 0;
  }
  .timer span {
    font-size: 3.5rem;
    width: 80px;
  }
  .timer p {
    font-size: 0.75rem;
  }
}
@media (min-width: 631px) {
  .header-container img {
    width: 120px;
  }
  .header-container div a {
    font-size: 1rem;
  }
  .main-section {
    height: 85vh;
    margin: 1rem auto;
    flex-direction: row;
    justify-content: space-between;
  }
  .main-section img {
    width: 270px;
  }
  .text-container h1 {
    font-size: 1.5rem;
  }
  .timer span {
    font-size: 3rem;
  }
  .timer p {
    font-size: 0.5rem;
  }
}
@media (min-width: 820px) {
  .header-container.container {
    width: 820px;
  }
  .main-section img {
    width: 290px;
  }
  .main-section.container {
    width: 820px;
  }
  .text-container h1 {
    font-size: 1.75rem;
  }
  .timer span {
    font-size: 3.5rem;
  }
}
@media (min-width: 1000px) {
  .header-container.container {
    width: 940px;
  }
  .main-section {
    margin: 0 auto;
  }
  .main-section img {
    width: 320px;
  }
  .main-section.container {
    width: 940px;
  }
  .text-container h1 {
    font-size: 2rem;
  }
  .text-container button {
    width: 175px;
    font-size: 0.675rem;
  }
  .timer span {
    font-size: 3.5rem;
  }
}
@media (min-width: 1150px) {
  .header-container.container {
    width: 1130px;
  }
  .main-section img {
    width: 375px;
  }
  .main-section.container {
    width: 1100px;
  }
  .text-container h1 {
    font-size: 2.5rem;
  }
  .text-container p {
    font-size: 1.25rem;
  }
  .timer.days-timer {
    margin-right: 1rem;
  }
  .timer span {
    font-size: 4rem;
  }
  .timer p {
    font-size: 0.75rem;
  }
}
#fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(176, 136, 167, 0.6392156863);
}

#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 350px;
  z-index: 10;
  background-color: #ffc8d6;
  transform: translate(-50%, -50%);
  max-width: 80%;
  border-radius: 0.5rem;
  color: #ff1768;
  filter: drop-shadow(1px 1px 9px black);
}
#modal div {
  border-bottom: solid 1px #f5f5f5;
}
#modal div img {
  width: 100px;
  display: block;
  margin: 0 auto;
}
#modal form {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 1rem 0.5rem;
  gap: 1rem;
}
#modal form input[type=text] {
  outline: 0;
  border: none;
  width: 100%;
  padding: 0.5rem 0.25rem;
  margin-top: 0.25rem;
}
#modal form div {
  border-bottom: none;
}
#modal input[type=submit] {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #ff1768;
  font-weight: 600;
  font-size: 0.75rem;
  margin-top: 1rem;
}

#fade, #modal {
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}

#fade.hide, #modal.hide {
  opacity: 0;
  pointer-events: none;
}

#modal.hide {
  top: 0;
}

.error {
  border: 1px solid red;
}

#email-error {
  font-size: small;
  color: #ff0000;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  padding: 1.25rem;
  border-bottom: none;
}
.modal-content img {
  align-self: center;
  width: 100px;
}

/*# sourceMappingURL=style.css.map */
